body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #4caf50;
  color: #272727;
}

main {
  padding: 1rem;
}

#graph-container {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#graph-placeholder {
  height: 300px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
}

#eingabe-bereich {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.25rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

button {
  padding: 0.6rem 1.2rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.top-bar {
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  background-color: #eee; /* Lightmode */
  border-bottom: 1px solid #ccc;
}

body {
  background-color: #f5f5f5;
  color: #222;
  transition: background-color 0.3s, color 0.3s;
}

/* Darkmode Styles am Ende */
.darkmode {
  background-color: #121212;
  color: #f0f0f0;
}


.darkmode #Bedienfeld,
.darkmode #Ausgabefeld,
.darkmode .top-bar {
  background-color: #1e1e1e !important;
  color: #ddd !important;
  border: 1px solid #333;
  
}


.darkmode #eingabe-bereich,
.darkmode #graph-container,
.darkmode input,
.darkmode select,
.darkmode button {
  background-color: #2a2a2a;
  color: #eee;

}


